* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --main-width: 85%;
  --nav-width: 15%;

  --background-info-color: #e4edff;
  --text-info-color: #3f6ed8;

  --primary-color: #4f0599;
  --secondary-color: #a365f6;
  --tertiary-color: #45d6b5;

  --gray-primary: #4a4f62;
  --gray-secondary: #b2b6c3;
  --gray-tertiary: #d4dae7;

  --nav-background: #f6f5f7;

  --alert-bacground: #ffe1e7;
  --alert-content: #ef5774;

  --info-height: 60px;
  --header-height: 70px;
}

html,
body {
  width: 100%;
  height: 100%;
}

.flex,
.info,
nav,
nav .nav-content,
nav .nav-content-title,
nav .nav-content .beta-link,
nav .nav-content .beta,
nav .nav-content-end,
header,
header .organization,
header .life-ring,
header .user-initials,
.back-to-buckets,
form,
form .form-section .section-title,
form .form-section .section-title .rounded-title-number,
form .form-section .countries,
form .form-section .country,
form .form-section .country label,
form .form-section .bucket-visibility-content,
form .form-section .bucket-visibility-radio,
form .form-section .alert,
footer {
  display: flex;
}

.info,
header,
nav .nav-content-title,
nav .nav-content .beta,
header .organization,
header .organization .user-initials,
header .organization .life-ring,
.back-to-buckets-list,
form,
form .form-section .section-title,
form .form-section .section-title .rounded-title-number,
form .form-section .countries,
form .form-section .country,
form .form-section .country label,
form .form-section .alert {
  align-items: center;
}

nav .nav-content-title,
nav .nav-content .beta-link,
header,
main .back-to-buckets,
form .form-section .bucket-visibility-content,
form .form-section .bucket-visibility-radio {
  justify-content: space-between;
}

nav .nav-content .beta,
header .organization .user-initials,
header .organization .life-ring,
form .form-section .section-title .rounded-title-number,
form .form-section .alert,
footer {
  justify-content: center;
}

.flex,
.info,
nav .nav-content,
nav .nav-content-title,
header,
form .form-section input[type="text"],
form .form-section .bucket-visibility-content {
  width: 100%;
}

nav,
header {
  position: sticky;
  top: 0;
}

.nav-content-end a i,
form .form-section input[type="text"],
form .form-section .first-section-text {
  color: var(--gray-secondary);
}

nav a,
header select,
header .organization .life-ring,
form .form-section .country,
form .form-section .country input[type="radio"],
form .form-section .country label,
form .form-section .bucket-visibility-radio input[type="radio"],
form .form-section .bucket-visibility-radio label,
form input[type="submit"] {
  cursor: pointer;
}

header .organization .life-ring,
form .form-section .country label {
  color: var(--gray-tertiary);
}

header .organization .user-initials,
form .form-section .section-title .rounded-title-number {
  border-radius: 100%;
}

header select,
header .organization .life-ring,
form .form-section input[type="text"],
form .form-section .country label,
form .form-section .bucket-visibility-content,
form .form-section .alert,
form input[type="submit"] {
  border-radius: 5px;
}

header select:not(.organization select),
header .organization .life-ring,
form .form-section input[type="text"],
form .form-section .country label,
form .form-section .bucket-visibility-content {
  border: solid 1px var(--gray-tertiary);
}

.info a:hover,
.back-to-buckets a:hover,
form .form-section .alert a:hover,
footer a:hover {
  text-decoration: underline;
}

nav,
header .organization .life-ring,
form .form-section input[type="text"],
form .form-section .bucket-visibility-content {
  box-sizing: border-box;
}

form .form-section .buckey-visibility-text,
form .form-section .estimated-cost-text,
form .form-section .text-alert {
  line-height: 24px;
}

form .form-section .buckey-visibility-text,
form .form-section .estimated-cost-text {
  color: var(--gray-primary);
}

.info,
.info a,
form .form-section .alert a {
  color: var(--text-info-color);
}

nav .nav-content-end i,
form .form-section .alert i.fa-external-link-alt,
footer i {
  transform: scale(0.7);
}

a {
  text-decoration: none;
  color: black;
}

nav .nav-content-title,
nav .nav-content a,
form input[type="submit"] {
  font-size: 16px;
}

form input[type="submit"],
header .organization select {
  background-color: var(--tertiary-color);
  border: none;
}

/******************************* DIV info *******************************/

.info {
  background-color: var(--background-info-color);
  height: var(--info-height);
  font-size: 18px;
  top: 0;
}

.info i:first-child {
  margin-left: 20px;
  margin-right: 10px;
}

.info a {
  margin: 0 10px;
}

.info i:last-child {
  margin-left: auto;
  margin-right: 20px;
}

/******************************* nav *******************************/

nav,
.nav-content,
.nav-content-end,
form {
  flex-direction: column;
}

nav {
  background-color: var(--nav-background);
  width: var(--nav-width);
  height: 100vh;
  padding: 20px;
  overflow: auto;
  z-index: 2;
}

nav .logo {
  width: 60%;
  margin-bottom: 40px;
}

nav a,
nav .nav-content a,
header .organization p:not(.user-initials p),
form h1,
form .form-section .section-title h2 {
  color: var(--gray-primary);
}

nav a,
nav .nav-content a {
  margin-bottom: 15px;
}

nav .nav-content .beta {
  background-color: rgb(255, 140, 105);
  height: 20px;
  width: 40px;
  border-radius: 100px;
  font-size: 10px;
}

nav .nav-content-title,
.nav-content-end {
  color: var(--primary-color);
}

nav .nav-content-title {
  margin: 20px auto;
}

.nav-content-end {
  margin-top: 30px;
}

.nav-content-end a {
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--primary-color);
}

nav a:hover {
  font-weight: bolder;
}

/******************************* main *******************************/

main {
  width: var(--main-width);
}

/************* Header *************/

header {
  height: var(--header-height);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

header select {
  padding: 0 10px;
  font-size: 15px;
}

header select:not(.organization select) {
  margin-left: 20px;
}

header,
header select:not(.organization select),
header .organization .life-ring {
  background-color: white;
}

header select:not(.organization select) {
  height: 80%;
  width: 200px;
}

header .organization {
  height: 100%;
  margin-right: 20px;
}

header .organization select,
header .organization .life-ring,
header .organization .user-initials {
  height: 45px;
}

nav .nav-content .beta,
header .organization select,
header .organization .life-ring:hover,
header .organization .user-initials,
form .form-section .section-title .rounded-title-number,
form input[type="submit"] {
  color: white;
}

header .organization select {
  width: 100px;
}

header .organization .user-initials,
header .organization .life-ring {
  width: 45px;
}

header .organization * {
  margin: 0 10px;
}

header .organization .life-ring {
  font-size: 25px;
}

header .organization .life-ring:hover {
  border: none;
  background-color: var(--primary-color);
}

header .organization p:not(.user-initials p) {
  text-align: end;
}

header .organization .user-initials {
  margin-right: -5px;
  background-color: var(--secondary-color);
}

/**** back to buckets *****/

.back-to-buckets {
  width: 150px;
  margin: 30px 0 0 30px;
  font-weight: bold;
}

.back-to-buckets,
.back-to-buckets a {
  color: var(--primary-color);
}

/************* form *************/

form {
  margin-top: 60px;
}

form h1,
form .form-section {
  margin-bottom: 60px;
}

form .form-section,
form input[type="submit"] {
  width: 50%;
}

form .form-section > p:not(p.first-section-text) {
  margin-bottom: 30px;
}

form input[type="submit"] {
  height: 50px;
}

/****** Name your bucket ******/

form .form-section .section-title,
form .form-section input[type="text"] {
  margin-bottom: 20px;
}

p.first-section-text {
  font-size: 12px;
}

form .form-section .section-title {
  position: relative;
}

form .form-section .section-title .rounded-title-number {
  height: 24px;
  width: 24px;
  background-color: var(--gray-primary);
  margin-right: 20px;
  position: absolute;
  left: -40px;
}

form .form-section .section-title h2 {
  font-size: 25px;
}

form .form-section input[type="text"] {
  height: 40px;
  padding: 0 10px;
}

/****** Choose a region ******/

form .form-section img {
  width: 20px;
}

form .form-section .country input[type="radio"] {
  display: none;
}

form .form-section .country label {
  padding: 0 20px;
  margin-right: 10px;
  height: 50px;
  width: 130px;
}

form .form-section .country label:hover {
  border-color: var(--primary-color);
}

form .form-section .country input[type="radio"]:checked + label {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

form .form-section .country label img {
  margin-right: 10px;
}

/**** Set Bucket Visibility ****/

form .form-section .buckey-visibility-text {
  width: 55%;
}

form .form-section .bucket-visibility-content {
  padding: 30px;
}

form .form-section .bucket-visibility-radio input[type="radio"] {
  margin-right: 10px;
  margin-left: 40px;
  transform: scale(1.4);
}

/**** Estimated cost ****/

form .form-section .alert {
  background-color: var(--alert-bacground);
  color: var(--alert-content);
  padding: 20px;
  margin-bottom: 10px;
}

form .form-section .alert i.fa-exclamation-triangle {
  font-size: 30px;
  margin-right: 30px;
}

form .form-section .alert a {
  align-items: flex-start;
}

/********* table *********/

/************* footer *************/

footer {
  height: 100px;
  align-items: flex-end;
}

footer a {
  color: var(--gray-secondary);
  font-size: 14px;
  margin: 0 20px 20px;
}
