* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --main-width: 85%;
  --nav-width: 15%;

  --background-info-color: #e4edff;
  --text-info-color: #3f6ed8;

  --primary-color: #4f0599;
  --secondary-color: #a365f6;
  --tertiary-color: #45d6b5;

  --gray-primary: #4a4f62;
  --gray-secondary: #b2b6c3;
  --gray-tertiary: #d4dae7;
  --nav-background: #f6f5f7;

  --info-height: 60px;
  --header-height: 70px;
}

html,
body {
  width: 100%;
  height: 100%;
}

.flex,
.info,
nav,
nav .nav-content,
nav .nav-content-title,
nav .nav-content-end,
header,
header .organization,
header .life-ring,
header .user-initials,
.back-to-buckets,
form {
  display: flex;
}

.info,
header,
nav .nav-content-title,
header .organization,
header .organization .user-initials,
header .organization .life-ring,
.back-to-buckets-list,
form {
  align-items: center;
}

.flex,
.info,
nav .nav-content,
nav .nav-content-title,
header {
  width: 100%;
}

nav,
header {
  position: sticky;
  top: 0;
}

nav .nav-content-title,
header,
.back-to-buckets {
  justify-content: space-between;
}

header select,
header .organization .life-ring {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

/******************************* DIV info *******************************/

.info {
  background-color: var(--background-info-color);
  color: var(--text-info-color);
  height: var(--info-height);
  font-size: 20px;
  top: 0;
}

.info i:first-child {
  margin: 0 20px;
}

.info p:not(p.new) {
  margin: 0 10px;
}

.info i:last-child {
  margin-left: auto;
  margin-right: 20px;
}

/******************************* nav *******************************/

nav,
.nav-content,
.nav-content-end,
form {
  flex-direction: column;
}

nav {
  background-color: var(--nav-background);
  width: var(--nav-width);
  box-sizing: border-box;
  height: 100vh;
  padding: 20px;
  overflow: auto;
}

nav .logo {
  width: 60%;
  margin-bottom: 40px;
}

nav p,
nav .nav-content a {
  color: var(--gray-primary);
}

nav p,
nav .nav-content a {
  margin-bottom: 15px;
}

nav .nav-content-title,
nav .nav-content a {
  font-size: 16px;
}

nav .nav-content-title,
.nav-content-end {
  color: var(--primary-color);
}

nav .nav-content-title {
  margin: 20px auto;
}

.nav-content-end {
  margin-top: 30px;
}

.nav-content-end a {
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.nav-content-end a i {
  color: var(--gray-secondary);
}

nav a:hover {
  font-weight: bolder;
}

/******************************* main *******************************/

main {
  width: var(--main-width);
}

/************* Header *************/

header {
  height: var(--header-height);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

header select,
header .organization .life-ring {
  border-radius: 5px;
}

header select {
  padding: 0 10px;
  font-size: 15px;
}

header select:not(.organization select) {
  margin-left: 20px;
}

header,
header select:not(.organization select),
header .organization .life-ring {
  background-color: white;
}

header select:not(.organization select),
header .organization .life-ring {
  border: solid 1px var(--gray-tertiary);
}

header select:not(.organization select) {
  height: 80%;
  width: 200px;
}

header .organization {
  height: 100%;
  margin-right: 20px;
}

header .organization select,
header .organization .life-ring,
header .organization .user-initials {
  height: 45px;
}

header .organization select,
header .organization .life-ring:hover,
header .organization .user-initials {
  color: white;
}

header .organization select {
  width: 100px;
  background-color: var(--tertiary-color);
  border: none;
}

header .organization .user-initials,
header .organization .life-ring {
  justify-content: center;
  width: 45px;
}

header .organization * {
  margin: 0 10px;
}

header .organization .life-ring {
  font-size: 25px;
  box-sizing: border-box;
  color: var(--gray-tertiary);
}

header .organization .life-ring:hover {
  border: none;
  background-color: var(--primary-color);
}

header .organization p:not(.user-initials p) {
  text-align: end;
  color: var(--gray-primary);
}

header .organization .user-initials {
  border-radius: 100%;
  margin-right: -5px;
  background-color: var(--secondary-color);
}

/**** back to buckets *****/

.back-to-buckets {
  width: 150px;
  margin: 30px 0 0 30px;
  font-weight: bold;
}

.back-to-buckets,
.back-to-buckets a {
  color: var(--primary-color);
}

.back-to-buckets a:hover {
  text-decoration: underline;
}

/************* form *************/

form {
  margin-top: 60px;
}

form h1 {
  margin-bottom: 60px;
}
